<div>

    <form class="userForm" {{action 'save' on="submit" }}>
    <h1>New User</h1>
        <div class="ui labeled input">
            <div class="ui label">
                Username:
            </div>
            {{input value=username placeholder="Username"}}
        </div>
        <br />
        <div class="ui labeled input">
            <div class="ui label">
                Email:
            </div>
            {{input value=email placeholder="myemail@user.net"}}
        </div>
        <br />
        <div>
            <label id="box_img" for="imgProfil" class="ui icon button inputFile"> 
                <i class="file image icon"></i>Add a picture
            </label>
            <input type="file" accept="image/png,image/jpeg" style="display:none" name="imgProfil" value=imgProfil onchange={{action 'fileUpdate'}} id="imgProfil">
            <button class="ui button whiteButtonNoHover" id="buttonUpload" onclick={{action 'upload'}}>Upload</button>
        </div>
        <div class="ui labeled input">
            <div class="ui label">
                Password:
            </div>
            {{input type="password" value=password }}
        </div>
        <br />
        <button class="ui button whiteButtonNoHover" type="submit">Add</button>
    </form>
</div>